<div class="modal modal_coupon" ng-class="{'modal_coupon-fifth': collected.counter==5}">
	<div class="modal__container">
		<i class="icon icon-coupon-big"></i>
		<h2 class="modal__title">
			{{couponMessages[collected.counter-1].title}}
		</h2>
		<p class="modal__description">
			{{couponMessages[collected.counter-1].description}}
		</p>
		<!-- Form -->
		<div class="modal__form">
			<form name="promoCodeForm" ng-submit="sendPromo()">
				<input
					type="email"
					name="email"
					ng-model="userData.email"
					class="input"
					required
					placeholder="Введи свой e-mail">
				<button class="btn btn_green-2 btn_upper">
					<span class="btn__text">Отправить купон</span>
				</button>
			</form>
		</div>
	</div>
	<!-- Footer -->
	<footer class="modal__footer">
		<!-- Continue block -->
		<div ng-hide="collected.counter==5" class="modal__continue">
			<button class="btn btn_violet-1 btn_upper">
				<span
					ng-click="closeThisDialog()"
					class="btn__text">Продолжить&nbsp;поиски</span>
			</button>
		</div>
		<p class="modal__footer-text">
			Расскажи друзьям о своих поисковых способностях и получи <br>
			подсказку где искать следующий купон!
		</p>
		<div class="social">
			<ul class="social__list">
				<li class="social__item">
					<a href="#" class="social__link"><i class="icon icon-vk"></i></a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link"><i class="icon icon-facebook"></i></a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link"><i class="icon icon-twitter"></i></a>
				</li>
			</ul>
		</div>
	</footer>
</div>
