<div class="modal modal_hello">
	<div class="modal__container">
		<div class="modal__logo">
			<i class="icon icon-logo-popup"></i>
		</div>
		<img src="/img/start.gif" alt="" class="modal__gif">
		<h2 class="modal__title">
			Ищите купоны и получайте скидки на Жалюзи!
		</h2>
		<p class="modal__description">
			Найденые купоны на скидки действуют только в городе Москва, но Вы можете проверить свою внимательность и поискать купоны просто так!
		</p>
		<button class="btn btn_violet-2" ng-click="closeThisDialog()">
			<span class="btn__text">
				Начать поиски
			</span>
		</button>
	</div>
</div>
