.cloud {
	@img: '../img/cloud-1.png';
	background: url(@img) center no-repeat;
	background-size: cover;
	width: image-width(@img);
	height: image-height(@img);
	position: absolute;
	top: -300px;
	right: 0;
}
