.cloud {
	@img: '../img/cloud.png';
	background: url(@img) center no-repeat;
	background-size: cover;
	position: absolute;
	transition: all 1s;
	// display: none;
	&_1 {
		top: 190px;
		right: 5%;
		width: image-width(@img);
		height: image-height(@img);
	}
	&_2 {
		top: 250px;
		left: 10%;
		width: image-width(@img)/1.1;
		height: image-height(@img)/1.1;
	}
	&_3 {
		top: 200px;
		left: -5%;
		width: image-width(@img)/1.8;
		height: image-height(@img)/1.8;
	}
}
