.coupons-info {
	float: left;
	padding: @base @base*1.8;
	padding-right: @base*1.7;
	padding-bottom: 43px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 1px;
		height: 66px;
		// background: @header-border-color;
		background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(204,204,204,1) 1%,rgba(204,204,204,0.79) 92%,rgba(204,204,204,0) 100%);
	}
	.btn {
		float: left;
		margin-top: 5px;
		margin-left: @base*2;
		width: auto;
		padding: 0 @base*2;
	}
	&__container {
		float: left;
	}
	&__count {
		font-weight: @bold;
		font-size: 30px;
		margin-left: @base/2;
	}
	&__max {

	}
	&__current {
		color: #C27A95;
	}
	&__text {
		display: inline-block;
		width: @base*10;
		font-size: 12px;
	}
}
