.dropdown {
	position: fixed;
	margin-left: -@base;
	top: 0;
	transform: translateY(-250px);
	transition: transform .5s;
	transition-delay: .3s;
	z-index: 10;
	&.expanded {
		transform: translateY(0);
		transition-delay: 0s;
	}
	&.menu-expanded.expanded {
		transform: translateY(150px);
	}
	&__text {
		margin: 0;
		padding: @base*2;
		padding-right: @base*3;
		color: #fff;
		position: relative;
		b {
			color: #fff;
		}
		span {
			color: #fff;
		}
		&_border {
			width: @base*30;
			padding: 0;
			&:before {
				content: '';
				position: absolute;
				bottom: -@base*1.5;
				left: 0;
				width: 100%;
				height: 1px;
				background: rgba(255,255,255,.2);
			}
		}
	}
	&__container {
		.clearfix();
		padding: @base*2;
		padding-bottom: @base;
	}
	&__form {
		.clearfix();
		float: left;
		margin-left: @base*2.5;
		.input {
			float: left;
			width: @base*17;
			margin-right: @base;
		}
		.btn {
			float: left;
			width: auto;
			padding-left: @base;
			padding-right: @base;
		}
	}
	&__btn {
		display: inline-block;
		padding: @base*3 0;
		cursor: pointer;
		.clearfix();
		.icon {
			color: #fff;
			float: left;
			margin-right: @base;
			transition: transform .5s;
		}
		&:hover {
			.icon {
				transform: rotate(360deg);
			}
		}
	}
	&__btn-text {
		color: #fff;
		float: left;
		line-height: 20px;
		text-decoration: underline;
		.em(14);
	}
	&_coupon-info {
		@img: '../img/coupon_info_popup.png';
		background: url(@img) 100% bottom no-repeat;
		width: image-width(@img);
		height: image-height(@img);
		color: #fff;
		text-align: center;
		height: @base*17;
		left: 0;
		.dropdown__text {
			font-size: 13px;
			position: relative;
			padding-top: @base*3;
			bottom: 0;
			display: inline-block;
			line-height: 20px;
		}
		&.big {
			height: @base*25;
			.dropdown__text {
				padding-bottom: 0;
			}
		}
	}
	&_call-me {
		@img: '../img/phone_info_popup.png';
		background: url(@img) 100% bottom no-repeat;
		width: image-width(@img);
		height: image-height(@img);
		color: #fff;
		text-align: center;
		height: @base*17;
		right: @base*4.5;
		.icon-operator {
			float: left;
			margin-right: @base;
			margin-top: @base/2;
		}
		.dropdown__text {
			font-size: 14px;
			text-align: left;
			float: left;
			padding: @base;
		}

	}
}
