.house {
	// @img: '../img/house.jpg';
	// background: url(@img) no-repeat;
	// background-size: 50%;
	// background-size: image-width(@img) 100%;
	// width: image-width(@img);
	// height: image-height(@img);
	.image-2x('../img/house.jpg');
	// margin-top: @base*40;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
