.icon {
	display: inline-block;
}
.icon-phone {
	.image-2x('../img/icon_phone.png');
}
.icon-menu {
	.image-2x('../img/icon_menu_open.png');
}
.icon-coupon {
	.image-2x('../img/icon_coupon.png');
}
.icon-operator {
	background: url('../img/manager.svg');
	width: 43px;
	height: 50px;
}
.icon-vk {
	.image-2x('../img/vk.png');
}
.icon-twitter {
	.image-2x('../img/tw.png');
}
.icon-facebook {
	.image-2x('../img/fb.png');
}
.icon-coupon-big {
	.image-2x('../img/coupon_for_popup.png');
}
.icon-coupon-small {
	.image-2x('../img/coupon-small.png');
}
