.icon {
	display: inline-block;
}
.icon-phone {
	.image-2x('../img/icon_phone.png');
}
.icon-menu {
	.image-2x('../img/icon_menu_open.png');
}
.icon-coupon {
	.image-2x('../img/icon_coupon.png');
}
.icon-operator {
	background: url('../img/manager.svg');
	width: 43px;
	height: 50px;
}
