.icon {
	display: inline-block;
}
.icon-phone {
	.image-2x('../img/icon_phone.png');
}
.icon-close {
	.image-2x('../img/close.png');
}
.icon-phone-big {
	background: url('../img/mobile/phone.svg') no-repeat;
	width: @base*2.5;
	height: @base*2.5;
}
.icon-chevron {
	background: url('../img/chevron.svg') no-repeat;
	width: @base*2;
	height: @base*2;
}
.icon-search {
	background: url('../img/mobile/search.svg') no-repeat;
	width: @base*3;
	height: @base*3;
}
.icon-menu {
	.image-2x('../img/icon_menu_open.png');
}
.icon-menu-big {
	background: url('../img/mobile/menu.svg') no-repeat;
	width: @base*2.5;
	height: @base*2.5;
}
.icon-coupon {
	.image-2x('../img/icon_coupon.png');
}
.icon-operator {
	background: url('../img/manager.svg');
	width: 43px;
	height: 50px;
}
.icon-vk {
	background: url('../img/vk.svg');
	width: 40px;
	height: 40px;
}
.icon-ok {
	background: url('../img/ok.svg');
	width: 40px;
	height: 40px;
}
.icon-twitter {
	.image-2x('../img/tw.png');
}
.icon-facebook {
	background: url('../img/fb.svg');
	width: 40px;
	height: 40px;
}
.icon-coupon-big {
	.image-2x('../img/coupon_for_popup.png');
}
.icon-coupon-small {
	.image-2x('../img/coupon-small.png');
}
.icon-brainmaze {
	.image-2x('../img/brainmaze.png');
}

// Menu
.icon-wood {
	.image-2x('../img/menu/icon_derevyannye.png');
}
.icon-horizontal {
	.image-2x('../img/menu/icon_gorizontalnye.png');
}
.icon-contacts {
	.image-2x('../img/menu/icon_kontakty.png');
}
.icon-rollet {
	.image-2x('../img/menu/icon_rulonnye.png');
}
.icon-vertical {
	.image-2x('../img/menu/icon_verticalnye.png');
}
.icon-zebra {
	.image-2x('../img/menu/icon_zebra.png');
}
