// body {
// 	height: inherit !important;
// 	background: #73B6E7;
// }

.wrapper {
	overflow: hidden;
	@img: '../img/house.jpg';
	width: image-width(@img);
	height: image-height(@img);
	width: 100%;
	position: absolute;
}

* {
	box-sizing: border-box;
}

* {
	&:focus {
		outline: none;
	}
	&:after {
		outline: none;
	}
	&:before {
		outline: none;
	}
}

.container {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
	.clearfix();
	&_dropdown {
		background: #FFA500;
		z-index: 10;
		position: fixed;
		top: 60px;
		left: 50%;
		transform: translateX(-50%);
	}
}
