.show-portrait {
	display: none;
}

@media (max-width: 765px) {
	.desktop {
		display: none !important;
	}
	.mobile {
		display: block;
	}
	.btn {
		width: 100%;
		&__text {
			font-weight: @bold;
		}
		&_upper {
			.btn__text {
				font-weight: @bold;
				.em(13);
			}
		}
	}
	.input {
		width: 100%;
		.em(14);
	}
	.textarea {
		float: left;
		width: 100%;
		height: @base*10;
		.em(14);
	}
	::-webkit-input-placeholder {
		color:@placeholder-color;
		vertical-align: middle;
		line-height: 1;
		padding-top: 2px;
		text-align: center;
		.em(14, 14);
	}
	::-moz-placeholder {
		color:@placeholder-color;
		vertical-align: middle;
		line-height: 1;
		padding-top: 2px;
		text-align: center;
		.em(14, 14);
		}/* Firefox 19+ */
	:-moz-placeholder {
		color:@placeholder-color;
		vertical-align: middle;
		line-height: 1;
		padding-top: 2px;
		text-align: center;
		.em(14, 14);
		}/* Firefox 18- */
	:-ms-input-placeholder {
		color:@placeholder-color;
		vertical-align: middle;
		line-height: 1;
		padding-top: 2px;
		text-align: center;
		.em(14, 14);
	}
}

// Portrait
@media (max-width: 768px) {
	.coupons-info {
		&:after {
			height: 63px;
		}
		.btn {
			width: @base*17;
		}
	}
	.call-me {
		&:before {
			height: 63px;
		}
		&:after {
			height: 66px;
		}
	}
	.show-portrait {
		display: inline !important;
	}
	.hide-portrait {
		display: none !important;
	}
	.vendor {
		&__text {
			.em(11);
		}
	}
	.site-footer {
		&__link {
			.em(13);
		}
	}
}

@media (max-width: 1100px) {
	.contacts-form {
		.textarea {
			width: 30%;
		}
		&__container {
			width: 30%;
		}
	}
}
