.mobile-discount-info {
	background: url('../img/mobile/bg_search_coupon.jpg') top no-repeat;
	background-size: 100% 100%;
	padding: 0 5%;
	padding-bottom: 10%;
	margin-top: 15%;
	position: relative;
	z-index: 10;
	.icon-search {
		width: @base*10;
		height: @base*10;
		margin-top: -@base*2;
	}
	&__title {
		color: #fff;
		font-size: 30px;
		padding: 0 5%;
	}
	&__text {
		color: #fff;
		font-size: 25px;
		padding: 0 5%;
	}
}
