.mobile-contacts {
	text-align: center;
	margin-top: @base*10;
	margin-bottom: @base;
	&__title {
		margin: 0;
		.lobster();
		font-weight: @normal;
		font-size: 45px;
		margin-bottom: @base*2;
	}
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&__item {

	}
	&__link {
		color: #7E7E7E;
		display: inline-block;
		padding: @base*1.5 5%;
		font-size: 20px;
	}
}
