.mobile-copyright {
	padding: 5% 5%;
	.clearfix();
	.icon {
		float: left;
		margin-right: @base*2;
	}
	&__text {
		color: #7B7B7B;
		margin: 0;
	}
	&__link {
		color: #7B7B7B;
		text-decoration: underline;
	}
}
