.mobile-contacts {
	text-align: center;
	padding-top: 120px/@mobile*100%;
	margin-bottom: 10px/@mobile*100%;
	.site-footer__title {
		margin: 0;
		.lobster();
		font-weight: @normal;
		.em(25);
		margin-bottom: 70px/@mobile*100%;
	}
	.site-footer__link {
		color: #7E7E7E;
		display: inline-block;
		width: 100%;
		padding: 20px/@mobile*100% 70px/@mobile*100%;
		.em(14);
	}
}
