.mobile-section {
	padding-top: 120%;
	text-align: center;
	&__title {
		margin: 0;
		.lobster();
		font-weight: @normal;
		font-size: 45px;
	}
	&__subtitle {
		margin: 0;
		font-weight: @normal;
		font-size: 25px;
		padding: 1% 0;
	}
	&__text {
		padding: 0 @base*3;
		font-size: 30px;
		margin: 0;
	}
	&__icons-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&__icons-item {
		display: inline-block;
		margin-right: @base*4;
		padding: 10% 0;
		&:last-child {
			margin-right: 0;
		}
	}
	&__icons-img {
		height: @base*16;
	}
	&__controls {
		padding: 0 5%;
	}
	.btn_green {
		margin: 13% 0;
	}
	&_1 {
		margin-top: @base*4.5;
		background: url('../img/mobile/1_level.jpg') no-repeat;
		background-position: top center;
		background-size: 100%;
		padding-top: 80%;
		.mobile-section__title {
			margin-bottom: 4%;
		}
	}
	&_2 {
		background: url('../img/mobile/2_level.jpg') top no-repeat;
		margin-top: @base*3;
	}
	&_3 {
		background: url('../img/mobile/3_level.jpg') top no-repeat;
	}
	&_4 {
		background: url('../img/mobile/4_level.jpg') top no-repeat;
	}
	&_5 {
		background: url('../img/mobile/5_level.jpg') top no-repeat;
	}
	&_6 {
		background: url('../img/mobile/6_level.jpg') top no-repeat;
	}
}
