@header-color: #fff;
.site-header {
	position: fixed;
	width: 100%;
	background: @header-color;
	box-shadow: 0 10px 10px rgba(0,0,0,0.1);
	transform: translateY(-147px);
	transition: transform .5s;
	backface-visibility: hidden;
	z-index: 10;
	&.expanded {
		transform: translateY(0);
	}
	&__container {
		height: @base*6.5;
	}
}
