.site-footer {
	background: url('../img/footer.jpg') no-repeat;
	width: @base*200;
	height: @base*39;
	position: absolute;
	// bottom: -@base*39;
	// bottom: -200px;
	transition: transform 1s;
	top: 4126px;
	z-index: 10;
}
