.site-footer {
	position: absolute;
	transition: transform 1s;
	top: 4115px;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 10;
	&.is-mobile {
		top: 3730px;
	}
	&__data {
		height: @base*37;
	}
	&__column {
		width: 50%;
		float: left;
		position: relative;
		&:nth-child(1) {
			padding-left: @base*2;
			padding-right: @base*2;
		}
	}
	&__container {
		width: 50%;
		float: left;
		&:nth-child(2) {
			padding-left: @base;
		}
		&_contacts {
			.site-footer__link {
				// margin-bottom: @base*2;
				float: left;
				clear: both;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
	&__title {
		.lobster();
		font-weight: @normal;
		font-size: 22px;
		margin: 0;
		margin-top: @base*3;
		margin-bottom: @base*2;
		color: #2b2b2b;
	}
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&__item {

	}
	&__link {
		color: #8D8D8D;
		font-size: 14px;
		display: inline-block;
		padding: @base/1.7 0;
		transition: color .3s;
		&:hover {
			color: #2b2b2b;
		}
	}
	.social {
		float: left;
		margin-top: @base*2;
		&__item {
			margin-right: @base;
		}
	}
	&_blue {
		background: @bg-mobile-footer-menu;
		color: #fff;
		text-align: center;
		position: static;
		padding: 120px/@mobile*100% 0;
		.clearfix();
		.site-footer__title {
			.lobster();
			font-weight: @normal;
			.em(25);
			margin: 0;
			margin-bottom: 55px/@mobile*100%;
			color: #fff;
		}
		.site-footer__list {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.site-footer__container {
			width: 100%;
		}
		.site-footer__item {

		}
		.site-footer__link {
			display: inline-block;
			padding: 20px/@mobile*100%  50px/@mobile*100%;
			color: #fff;
			.em(14);
		}
	}
}
