// @import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
@tooltip-bg-color: #fff;
@tooltip-color: #3A393A;
@tooltip-point-color: #FDEB38;
.tooltip {
	position: absolute;
	z-index: 999;
	width: 2.2em;
	height: 2.2em;
	cursor: pointer;
	&:hover {
		.tooltip__item {
			border-color: @tooltip-point-color;
		}
	}
	&_gorizontal {
		top: 250px;
		left: 65%;
	}
	&_wood {
		top: 670px;
		left: 27%;
	}
	&__item {
		width: 27px;
		height: 27px;
		left: 50%;
		top: 70%;
		margin: -15px 0 0 -15px;
		position: absolute;
		border-radius: 50%;
		border: 3px solid @tooltip-point-color;
		animation: pulse 0.6s infinite alternate;
		&:before {
			content: '+';
			position: absolute;
			color: @tooltip-point-color;
			font-size: 25px;
			font-weight: @bold;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			line-height: 1;
		}
	}
	&__content {
		-webkit-font-smoothing: antialiased;
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		.image-2x('../img/popup_for_tooltip.png');
		border-radius: 10px;
		bottom: 50%;
		color: @tooltip-color;
		cursor: default;
		font-size: 15px;
		margin-bottom: -1em;
		opacity: 0;
		padding: 20px;
		pointer-events: none;
		position: absolute;
		text-align: center;
		transition: opacity 0.3s, transform 0.3s;
		z-index: 9999;
	}
	&__buttons {
		display: inline-block;
		margin-top: @base*2;
		.btn {
			width: @base*17;
			margin-bottom: @base;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.btn_violet {

		}
		.btn_green {
			text-transform: uppercase;
		}
	}

}

@keyframes pulse {
	from { -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
	to { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}

.tooltip-west .tooltip__content {
	left: 4em;
	transform-origin: -2em 50%;
	transform: translateY(50%) rotate(30deg);
}

.tooltip-east .tooltip__content {
	right: 4em;
	transform-origin: calc(100% + 2em) 50%;
	transform: translate3d(0,50%,0) rotate3d(1,1,1,-30deg);
	transform: translate3d(0,50%,0) rotate3d(1,1,1,-30deg);
}

.tooltip:hover .tooltip__content {
	opacity: 1;
	transform: translateY(50%) rotate(0deg);
	pointer-events: auto;
}

/* Gap "bridge" and arrow */

.tooltip__content::before,
.tooltip__content::after {
	content: '';
	position: absolute;
}

.tooltip__content::before {
	height: 100%;
	width: 3em;
}

.tooltip__content::after {
	width: 2em;
	height: 2em;
	top: 50%;
	margin: -1em 0 0;
	margin-right: -4px;
	// background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2280px%22%20height%3D%2280px%22%20viewBox%3D%220%200%2080%2080%22%3E%3Cpath%20fill%3D%22@{tooltip-bg-color}%22%20d%3D%22M80%2C0c0%2C0-5.631%2C14.445-25.715%2C27.213C29.946%2C42.688%2C12.79%2C33.997%2C3.752%2C30.417%09c-3.956-1.567-4.265%2C1.021-2.966%2C3.814C16.45%2C67.934%2C80%2C79.614%2C80%2C79.614l0%2C0V0z%22%2F%3E%3C%2Fsvg%3E') no-repeat center center;
	background: url('../img/tooltip_shadow.svg') no-repeat center center;
	background-size: 100%;
}

.tooltip-west .tooltip__content::before,
.tooltip-west .tooltip__content::after {
	right: 99%; /* because of FF, otherwise we have a gap */
}

.tooltip-east .tooltip__content::before,
.tooltip-east .tooltip__content::after {
	left: 99%; /* because of FF, otherwise we have a gap */
}

.tooltip-east .tooltip__content::after {
	-webkit-transform: scale3d(-1,1,1);
	transform: scale3d(-1,1,1);
}
