<div class="modal modal_coupon" ng-class="{'modal_coupon-fifth': collected.counter==5}">
	<div class="modal__container">
		<i class="icon icon-coupon-big"></i>
		<h2 class="modal__title">
			{{couponMessages[collected.counter-1].title}}
		</h2>
		<p class="modal__description">
			{{couponMessages[collected.counter-1].description}}
		</p>
		<!-- Form -->
		<div class="modal__form">
			<form
				name="promoCodeForm"
				ng-submit="sendPromo(promoCodeForm.$invalid)">
				<div
					class="field"
					ng-class="{'error': (promoCodeForm.email.$error.required||promoCodeForm.email.$error.email)&&isPromoCode}">
					<input
						type="email"
						name="email"
						ng-model="userData.email"
						class="input"
						required
						placeholder="Введи свой e-mail">
					<span
						ng-if="promoCodeForm.email.$error.required&&isPromoCode"
						class="field__message field__message_black visible">
                        Введите email
                    </span>
                    <span
                    	ng-if="promoCodeForm.email.$error.email&&isPromoCode"
                    	class="field__message field__message_black visible">
                        Введите правильный email
                    </span>
				</div>
				<button
					class="btn btn_green-2 btn_upper"
					progress-button
					value="progress['promoCode']"
					complete="{{progressMessage['promoCode']}}"
					ng-click="isPromoCode=true; sendPromo(promoCodeForm.$invalid)"
					in-progress="Отправляю...">
					Отправить купон!
				</button>
				<!-- <button class="btn btn_green-2 btn_upper">
					<span class="btn__text">Отправить купон</span>
				</button> -->
			</form>
		</div>
	</div>
	<!-- Footer -->
	<footer class="modal__footer">
		<!-- Continue block -->
		<div ng-hide="collected.counter==5" class="modal__continue">
			<button class="btn btn_violet-1 btn_upper">
				<span
					ng-click="closeThisDialog()"
					class="btn__text">Продолжить&nbsp;поиски</span>
			</button>
		</div>
		<p class="modal__footer-text">
			Расскажи друзьям о своих поисковых способностях.<br> Пусть завидуют!
		</p>
		<div class="social">
			<ul
				ng-init="couponWord=['купон', 'купона', 'купонов']"
				class="social__list">
				<li class="social__item">
					<a href="http://vk.com/share.php?url={{siteAddress}}&title=Жалюзи в Москве&description=Я нашел {{collected.counter}} {{collected.counter==1 ? 'купон' : ''}}{{collected.counter>1 && collected.counter<=4 ? 'купона' : ''}}{{collected.counter==5 ? 'купонов' : ''}} на скидку {{collected.counter*2}}%! А сколько найдешь ты? Больше купонов - больше скидка!&image={{siteAddress}}%2Fimg%2Fsocial%2Fsocial-big.jpg&noparse=true" target="_blank" onclick="return Share.me(this);" class="social__link">
						<i class="icon icon-vk"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="http://www.facebook.com/sharer/sharer.php?s0&p[title]=Жалюзи в Москве&p[summary]=Я нашел {{collected.counter}} {{collected.counter==1 ? 'купон' : ''}}{{collected.counter>1 && collected.counter<=4 ? 'купона' : ''}}{{collected.counter==5 ? 'купонов' : ''}} на скидку {{collected.counter*2}}=%! А сколько найдешь ты? Больше купонов - больше скидка!&p[url]={{siteAddress}}&p[images][0]={{siteAddress}}img/social/social-big.jpg" target="_blank" onclick="return Share.me(this);" class="social__link">
						<i class="icon icon-facebook"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st.comments=Я нашел {{collected.counter}} {{collected.counter==1 ? 'купон' : ''}}{{collected.counter>1 && collected.counter<=4 ? 'купона' : ''}}{{collected.counter==5 ? 'купонов' : ''}} на скидку {{collected.counter*2}}%! А сколько найдешь ты? Больше купонов - больше скидка!&st._surl={{siteAddress}}?v" target="_blank" onclick="return Share.me(this);" class="social__link">
						<i class="icon icon-ok"></i>
					</a>
				</li>
			</ul>
		</div>
	</footer>
</div>
