<div class="modal modal_discount">
	<div class="modal__container">
		<h2 class="modal__title">
			Получить скидку {{collected.counter*2}}%
		</h2>
		<p class="modal__description">
			Оставьте свой email и мы отправим на него промо-код с инструкцией.
		</p>
		<!-- Form -->
		<div class="modal__form">
			<form
				name="promoCodeForm"
				ng-submit="sendPromo(promoCodeForm.$invalid)">
				<div
					class="field"
					ng-class="{'error': promoCodeForm.$invalid&&isPromoCode}">
					<input
						type="email"
						name="email"
						ng-blur="isPromoCode=true"
						ng-model="userData.email"
						class="input"
						required
						placeholder="Введи свой e-mail">
					<span
						ng-if="promoCodeForm.email.$error.required&&isPromoCode"
						class="field__message field__message_black visible">
                        Введите email
                    </span>
                    <span
                    	ng-if="promoCodeForm.email.$error.email&&isPromoCode"
                    	class="field__message field__message_black visible">
                        Введите правильный email
                    </span>
				</div>
				<button
					class="btn btn_green-1 btn_upper"
					progress-button
					value="progress['promoCode']"
					complete="{{progressMessage['promoCode']}}"
					ng-click="isPromoCode=true; sendPromo(promoCodeForm.$invalid)"
					in-progress="Отправляю...">
					Отправить купон!
				</button>
				<!-- <button class="btn btn_green-2 btn_upper">
					<span class="btn__text">Отправить купон</span>
				</button> -->
			</form>
		</div>
	</div>
</div>
