<scrollable
	prevent-page-scrolling="true"
	class="scroller scroller_tooltip">
	<div class="tooltip-modal">
		<!-- Main image -->
		<!-- <img src="img/tooltip-modal-image.jpg" alt="" class="tooltip-modal__img"> -->
		<div class="tooltip-modal__img">
			<i class="icon icon-level-{{tooltipId}}"></i>
		</div>
		<!-- Header -->
		<h2 class="tooltip-modal__title">
			{{tooltipModals[tooltipId-1].title}}
		</h2>
		<h3 class="tooltip-modal__subtitle">
			{{tooltipModals[tooltipId-1].subtitle}}
		</h3>
		<!-- Small images -->
		<ul class="tooltip-modal__img-list">
			<li class="tooltip-modal__img-item">
				<i ng-show="tooltipId==1" class="icon icon-horizontal"></i>
				<i ng-show="tooltipId==2" class="icon icon-wood"></i>
				<i ng-show="tooltipId==3" class="icon icon-rollet"></i>
				<i ng-show="tooltipId==4" class="icon icon-vertical"></i>
				<i ng-show="tooltipId==5" class="icon icon-zebra"></i>
			</li><li class="tooltip-modal__img-item">
				<i ng-show="tooltipId==1" class="icon icon-horizontal-scheme"></i>
				<i ng-show="tooltipId==2" class="icon icon-wood-scheme"></i>
				<i ng-show="tooltipId==3" class="icon icon-rollet-scheme"></i>
				<i ng-show="tooltipId==4" class="icon icon-vertical-scheme"></i>
				<i ng-show="tooltipId==5" class="icon icon-zebra-scheme"></i>
			</li>
		</ul>
		<!-- Description -->
		<div class="tooltip-modal__text" ng-bind-html="tooltipModals[tooltipId-1].text">
		</div>
		<!-- Call me -->
		<div class="tooltip-modal__call-me">
			<i class="icon icon-operator"></i>
			<div class="tooltip-modal__call-me-form">
				<form name="callMeForm" ng-submit="sendCallMeZhaluzi()">
					<div class="tooltip-modal__call-me-form-inner">
						<input
							name="userPhone"
							type="text"
							required
							ng-model="userData.phone"
							placeholder="+7"
							class="input input_orange">
						<input
							ng-init="userData.zhaluziType=tooltipModals[tooltipId-1].title"
							type="hidden"
							ng-model="userData.zhaluziType"
							name="zhaluziType">
						<button
							class="btn btn_green-1 btn_upper"
							progress-button
							value="progress['callMeZhaluzi']"
							complete="{{progressMessage['callMeZhaluzi']}}"
							ng-click="sendCallMeZhaluzi()"
							in-progress="Отправляю...">
							Жду&nbsp;звонка!
						</button>
						<!-- <button class="btn btn_blue-1 btn_upper">
							<span class="btn__text">Жду звонка!</span>
						</button> -->
					</div>
				</form>
				<!-- Form description -->
				<p class="tooltip-modal__call-me-description">
					Мы никому не передадим номера наших дорогих клиентов. Мы заботимся о вашей безопасности.
				</p>
			</div>
		</div>
		<!-- Social -->
		<div class="social">
			<p class="social__description">
				Сохраните эту страницу у себя в социальной сети, чтобы не потерять:
			</p>
			<ul
				ng-init="couponWord=['купон', 'купона', 'купонов']"
				class="social__list">
				<li class="social__item">
					<a href="http://vk.com/share.php?url={{siteAddress}}&title=Жалюзи в Москве&description=Я нашел {{collected.counter}} {{collected.counter==1 ? 'купон' : ''}}{{collected.counter>1 && collected.counter<=4 ? 'купона' : ''}}{{collected.counter==5 ? 'купонов' : ''}} на скидку {{collected.counter*2}}%! А сколько найдешь ты? Больше купонов - больше скидка!&image={{siteAddress}}%2Fimg%2Fsocial%2Fsocial-big.jpg&noparse=true" target="_blank" onclick="return Share.me(this);" class="social__link">
						<i class="icon icon-vk"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="http://www.facebook.com/sharer/sharer.php?s0&p[title]=Жалюзи в Москве&p[summary]=Я нашел {{collected.counter}} {{collected.counter==1 ? 'купон' : ''}}{{collected.counter>1 && collected.counter<=4 ? 'купона' : ''}}{{collected.counter==5 ? 'купонов' : ''}} на скидку {{collected.counter*2}}=%! А сколько найдешь ты? Больше купонов - больше скидка!&p[url]={{siteAddress}}&p[images][0]={{siteAddress}}img/social/social-big.jpg" target="_blank" onclick="return Share.me(this);" class="social__link">
						<i class="icon icon-facebook"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st.comments=Я нашел {{collected.counter}} {{collected.counter==1 ? 'купон' : ''}}{{collected.counter>1 && collected.counter<=4 ? 'купона' : ''}}{{collected.counter==5 ? 'купонов' : ''}} на скидку {{collected.counter*2}}%! А сколько найдешь ты? Больше купонов - больше скидка!&st._surl={{siteAddress}}?v" target="_blank" onclick="return Share.me(this);" class="social__link">
						<i class="icon icon-ok"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</scrollable>
