<scrollable
	prevent-page-scrolling="true"
	class="scroller scroller_tooltip">
	<div class="tooltip-modal">
		<!-- Main image -->
		<!-- <img src="img/tooltip-modal-image.jpg" alt="" class="tooltip-modal__img"> -->
		<div class="tooltip-modal__img">
			<i class="icon icon-level-{{tooltipId}}"></i>
		</div>
		<!-- Header -->
		<h2 class="tooltip-modal__title">
			{{tooltipModals[tooltipId-1].title}}
		</h2>
		<h3 class="tooltip-modal__subtitle">
			{{tooltipModals[tooltipId-1].subtitle}}
		</h3>
		<!-- Small images -->
		<ul class="tooltip-modal__img-list">
			<li class="tooltip-modal__img-item">
				<i ng-show="tooltipId==1" class="icon icon-horizontal"></i>
				<i ng-show="tooltipId==2" class="icon icon-wood"></i>
				<i ng-show="tooltipId==3" class="icon icon-rollet"></i>
				<i ng-show="tooltipId==4" class="icon icon-vertical"></i>
				<i ng-show="tooltipId==5" class="icon icon-zebra"></i>
			</li><li class="tooltip-modal__img-item">
				<i ng-show="tooltipId==1" class="icon icon-horizontal-scheme"></i>
				<i ng-show="tooltipId==2" class="icon icon-wood-scheme"></i>
				<i ng-show="tooltipId==3" class="icon icon-rollet-scheme"></i>
				<i ng-show="tooltipId==4" class="icon icon-vertical-scheme"></i>
				<i ng-show="tooltipId==5" class="icon icon-zebra-scheme"></i>
			</li>
		</ul>
		<!-- Description -->
		<div class="tooltip-modal__text" ng-bind-html="tooltipModals[tooltipId-1].text">
		</div>
		<!-- Call me -->
		<div class="tooltip-modal__call-me">
			<i class="icon icon-operator"></i>
			<div class="tooltip-modal__call-me-form">
				<form name="callMeForm" ng-submit="sendCallMeZhaluzi()">
					<div class="tooltip-modal__call-me-form-inner">
						<input
							name="userPhone"
							type="text"
							required
							ng-model="userData.phone"
							placeholder="+7"
							class="input input_orange">
						<input
							ng-init="userData.zhaluziType=tooltipModals[tooltipId-1].title"
							type="hidden"
							ng-model="userData.zhaluziType"
							name="zhaluziType">
							<button class="btn btn_blue-1 btn_upper">
								<span class="btn__text">Жду звонка!</span>
							</button>
					</div>
				</form>
				<!-- Form description -->
				<p class="tooltip-modal__call-me-description">
					Мы никому не передадим номера наших дорогих клиентов. Мы заботимся о вашей безопасности.
				</p>
			</div>
		</div>
		<!-- Social -->
		<div class="social">
			<p class="social__description">
				Сохраните эту страницу у себя в социальной сети, чтобы не потерять:
			</p>
			<ul class="social__list">
				<li class="social__item">
					<a href="#" class="social__link"><i class="icon icon-vk"></i></a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link"><i class="icon icon-facebook"></i></a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link"><i class="icon icon-twitter"></i></a>
				</li>
			</ul>
		</div>
	</div>
</scrollable>
