{{!-- <div class="floors"> --}}
	{{!-- <div class="floors__close-dot" data-0="transform:translateY(300px);" data-1700="transform:translateY(-1500px);"></div>
	<div class="floors__close-dot" data-0="transform:translateY(300px);" data-1700="transform:translateY(-1200px);"></div>
	<div class="floors__close-dot" data-800="transform:translateY(1000px);" data-1700="transform:translateY(0px);"></div> --}}



{{!-- </div> --}}

<div class="house">
	<div class="dot"></div>
	<div
		class="cloud cloud_1"
		data-0="transform:translateY(0px);"
		data-1700="transform:translateY(-1000px);">
	</div>
</div>
