<header class="site-header">
	<!-- Main menu -->
	<div class="main-menu">
		<div class="container">
			<ul class="main-menu__list">
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						<img src="#" alt="" class="main-menu__img">
						<span class="main-menu__text">
							Горизонтальные жалюзи
						</span>
					</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						<img src="#" alt="" class="main-menu__img">
						<span class="main-menu__text">
							Горизонтальные жалюзи
						</span>
					</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						<img src="#" alt="" class="main-menu__img">
						<span class="main-menu__text">
							Горизонтальные жалюзи
						</span>
					</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						<img src="#" alt="" class="main-menu__img">
						<span class="main-menu__text">
							Горизонтальные жалюзи
						</span>
					</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						<img src="#" alt="" class="main-menu__img">
						<span class="main-menu__text">
							Горизонтальные жалюзи
						</span>
					</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						<img src="#" alt="" class="main-menu__img">
						<span class="main-menu__text">
							Горизонтальные жалюзи
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<!-- Coupons info -->
		<div class="coupons-info">
			<i class="fa fa-file"></i>
			<span class="coupons-info__count">
				<span class="coupons-info__current">0</span>/
				<span class="coupons-info__max">5</span>
			</span>
			<a href="#" class="btn btn_blue">
				<span class="btn__text">Получить скидку</span>
			</a>
		</div>
		<!-- Logo -->
		<div class="logo">
			<a href="#" class="logo__link">
				<img src="#" alt="" class="logo__img">
			</a>
		</div>
		<!-- Menu button -->
		<a href="#" class="btn btn_menu js-menuBtn">
			<i class="fa fa-menu"></i>
		</a>
		<!-- Call me -->
		<div class="call-me">
			<i class="fa fa-phone"></i>
			<span class="call-me__number">+7(495)542-64-84</span>
			<span class="call-me__time">9-21ч</span>
		</div>
	</div>
</header>
